*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;

}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    background-color: blueviolet;
    color: aquamarine;
    line-height: 1.6%;
    padding: 20%
}

h1 {
    color: rgb(4, 4, 158);

}